*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #ededfd;
}
.blk{
    border: 1px solid #cdcdd6;
    width: 600px;
    margin-left: 30%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px ;
}
.blk #color{
    border: 1px solid #570080;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 8px;
    background-color: #570080;
}
.section{
    /* border: 1px solid black; */
    margin: 10px 10px 10px 10px;
}
#email{
    display: flex;
}
#email a{
    text-decoration: none;
    padding: 16px 0px 15px 3px;
    width: 140px;
    color: rgb(65, 65, 231);
}
#email img{
    width: 32px;
    height: 32px;
    padding: 10px 0 0 120px;
}
#not-shared-img{
    margin: 0 0 0 10px;
    display: flex;
}
#not-shared-img img{
    width: 28px;
    height: 28px;
}
#not-shared-img p{
    margin: 0px;
    padding-top: 1px;
    color: rgb(154, 148, 148);
}
#indicated{
    color: red;
}
.sub-section{
    margin: 30px 10px 30px 10px;
}
.sub-section input{
    width: 575px;
}
.sub-section .no-border{
    border: none;
    outline: none;
}
sup{
    color: red;
}
.bottom-blk{
    width: 600px;
    margin-left: 30%;
    border-radius: 10px;
    margin-bottom: 15px ;
}
#submit{
    border: none;
    color: white;
    background-color: #6638B6;
}
button{
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#reset{
    float: right;
    background-color: #ededfd;
    border: none;
    color: #6638B6;
}
#reset:hover{
    background-color: #babaef;
}
#submit:hover{
    background-color: #7647c6;
}